@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../src/assets/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../src/assets/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../src/assets/fonts/Montserrat-Bold.woff2') format('woff2');
}

@layer base {
    html {
        @apply font-[Montserrat];
    }
}

@layer components {
    .link-nav {
        @apply font-[400] text-[1.125rem] text-gray-dark-800;
    }

    .link-button {
        @apply font-[600] text-[1.125rem] uppercase text-gray-dark-75 px-10 py-5 bg-gray-dark-900 rounded-full;
    }

    .my-transition {
        @apply transition delay-100 ease-in-out;
    }
}